body{
	background-color:#ff0000;
	background-color:#edf2f6;
	min-width:900px;
}
/*==================================================*/
/*========== headline in PC==========*/
/*==================================================*/
.headline{height:100px;width:70%;}
.headline img{height:100px;float:left;}
.webmenu{
	float:right;
	width:170px;
	height:80px;
	margin-top:10px;
}
.webmenu img{
	border-radius:10px;
	float:left;
	margin-left:5px;
	height:80px;
}
/*=============== mobile ===============*/
@media(max-device-width:900px){
	.headline{
		height:30%;
		min-height:100px;
		width:100%;
		}
	.headline img{
		float:none;
		display: block;
		margin-left: auto;
		margin-right: auto;
		height:50%;
	}
	.webmenu{
		float:left;
		height:50%;
		width:100%;
		/*
		margin-top:1%;
		margin-bottom:1%;*/
	}
	.webmenu img{
		claer:both;
		display: inline;
		margin-top: auto;
		margin-bottom: auto;
		border-radius:20px;
		margin-left:20px;
		height:90%;
	}
}