/*공지사항 리스트에 사용되는 폰트*/
@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);
/*공지사항에 사용될 폰트*/
@import url(http://fonts.googleapis.com/earlyaccess/nanumpenscript.css);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono);
/*==================================================*/
/*========== main==========*/
/*==================================================*/
.main{
   width:900px;
   height:auto;
   overflow:hidden;
}
@media(max-device-width:900px){
	.main{
   		width:98%;                    
	}	
}
/*==================================================*/
/*=============== notice ===============*/
/*==================================================*/

.notice {
    position: relative;
    width: 900px;
    float:left;
}
@media(max-device-width:900px){
	.notice {width: 100%;}	
}
.notice:before {content: "";display: block;padding-top: 40%;}
 .notice_box {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width:100%;
	display:none;
}
.notice_box img{
	width:100%;
	height:100%;
	border-radius:10px;
}
/*==================================================*/
/*				 notice progress bar           */
/*==================================================*/
.progress { 
	height:20px;
	width:100%;
	background-color: rgba(255, 255, 255, 0);
	float:left;
	border-radius:10px;
}
@media (max-device-width:900px){
	.progress{height:6%;}
}
.progress_bar{
	float:left;
	height:50%;
	width:0%;
	background-color: rgba(55, 55, 55, 0.1);
	border-radius:10px;
}

/*==================================================*/
/*				 notice list          */
/*==================================================*/


.notice_text{
	background:#edf2f6;
	background:#4385f4;
	width:99%;
	float:left;
	margin-top:20px;
	margin-bottom:10px;
	
	border-radius:10px;
	box-shadow:5px 5px #bdbdbd;
}
.notice_text h1{
	
	font-family: 'Roboto Mono', ;
	font-size:30px;
	margin-top:10px;
	margin-bottom:10px;
	color:#eeeeee;
}
.notice_list{font-family: 'Jeju Gothic', serif;}
.notice_list p{font-weight:bold;}
.notice_list table {
	width:100%;
	margin-top:10px;
	margin-bottom:10px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.notice_list td {
	font-size:16px;
	color:#5D5D5D;
	text-align:center;
	padding:9px;
	border-collapse:collapse;
	border-radius:15px;
	border-top:4px solid #edf2f6;
	border-left:4px solid #edf2f6;
	box-shadow:1px 1px #bdbdbd;
}
.notice_list tr:nth-child(even) {background-color: rgba(67, 133, 244, 0.3);}
.notice_list tr:nth-child(odd) {background-color: rgba(67, 133, 244, 0.08);}

@media(max-device-width:900px){
	.notice_text h1{font-size:80px;}
	.notice_list td {
		font-size:40px;
		padding:9px;
		border-collapse:collapse;
		border-top:solid 1px #BDBDBD;
	}
}

/*==================================================*/
/*=============== item box ===============*/
/*==================================================*/
.box {
    position: relative;
    width: 280px;
    float:left;
    margin:10px;
}
@media(max-device-width:900px){
	.box {width: 98%;margin-top:3%;}	
}
.box:before {content: "";display: block;padding-top: 100%;}
 
.content {
	background:#ff0000;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border-radius:10px;
	box-shadow:5px 5px #BDBDBD;
}
.content_img{											
	display:block;
	height:40%;
	width:40%;
}
.content_img img{height:100%;}
.content_title{
	height:15%;
}
.content_title h1{color:#ffffff;margin:0;}
@media(max-device-width:900px){
	.content_title h1{font-size:100px;}	
}
.content_comment{
	height:10%;
	text-align:center;
}
.content_comment p{
	margin-left:20px;
	margin-right:20px;
	color:#ffffff;
}
@media(max-device-width:900px){
	.content_comment p{font-size:50px;}
}
.content_itemgo{
	height:25%;
	margin-bottom:0;
	float:right;
}
.content_itemgo img{
	height:100%;
}
/*==================================================*/
/*=============== footer      ===============*/
/*==================================================*/
.footer{
	background:#000000;
	width:100%;
	height:300px;
}