


/*==================================================*/
/*========== headline in PC==========*/
/*==================================================*/
@media(max-width:900px){
   .icon{
       background:#0044AA;
       margin:5px;
       width:20px;
       height:20px;
       float:right;
   }
}
.main{
   background:#00ff00;
   width:70%;                        /*naver*/
   height:1000px;
   min-width:320px;
}
