body{
	background-color:#ff0000;
	background-color:#edf2f6;
	min-width:900px;
}
/*==================================================*/
/*========== headline in PC==========*/
/*==================================================*/
.headline{
   height:100px;
   width:70%;
}
.headline img{height:100px;float:left;}
.webmenu{
	float:right;
	width:255px;
	height:80px;
	margin-top:10px;
}
.webmenu img{
	border-radius:10px;
	float:right;
	margin-left:5px;
	height:80px;
}
/*=============== mobile ===============*/
@media(max-device-width:900px){
	.headline{
		height:30%;
		min-height:100px;
		width:100%;
		display:block;
		}
	.headline img{
		float:none;
		display: block;
		margin-left: auto;
		margin-right: auto;
		height:50%;
	}
	.webmenu{
		float:left;
		height:50%;
		width:100%;
		/*
		margin-top:1%;
		margin-bottom:1%;*/
	}
	.webmenu img{
		display: block;
		margin-top: auto;
		margin-bottom: auto;
		border-radius:20px;
		float:right;
		margin-left:20px;
		height:90%;
	}
}


/*==================================================*/
/*========== headline in PC==========*/
/*==================================================*/
@media(max-width:900px){
   .icon{
       background:#0044AA;
       margin:5px;
       width:20px;
       height:20px;
       float:right;
   }
}
.main{
   background:#00ff00;
   width:70%;                        /*naver*/
   height:1000px;
   min-width:320px;
}
